<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand">{{pageTitle}}</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link"
               [routerLink]="['/start']"
               routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               [routerLink]="['/letter']"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact : true}">Send a letter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               [routerLink]="['/country-search']"
               routerLinkActive="active">Search countries</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               [routerLink]="['/aircondition']"
               routerLinkActive="active">Air condition</a>
        </li>
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
