<form>

    <h2 class="example-h2">Send your personal letter</h2>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Enter content"></textarea>
    </mat-form-field>

    <section class="example-section">
        <mat-checkbox [(ngModel)]="isExpressMode" class="example-margin">Express</mat-checkbox>
    </section>

    <mat-label>Select destination</mat-label>
    <mat-select [(ngModel)]="selectedDestination" name="dest">
        <mat-option *ngFor="let country of countries" [value]="country">
            {{country.name}}
        </mat-option>
    </mat-select>

    <button (click)="send()" class="btn btn-primary" type="button">Send Letter</button>

</form>
