<mat-card>
    <mat-card-content>
        <section class="mat-typography title-group">
            <h4>Send your personal letter</h4>
        </section>

        <mat-form-field>
            <textarea matInput placeholder="Your letter content..." cols="30" rows="4" [(ngModel)]="content"></textarea>
        </mat-form-field>


        <section class="example-section">
            <mat-checkbox color="primary" class="example-margin" [(ngModel)]="isExpressMode" name="mode">Express
            </mat-checkbox>
        </section>

        <mat-form-field>
            <mat-label>Select destination</mat-label>
            <mat-select [(ngModel)]="selectedDestination" name="dest" required>
                <mat-option *ngFor="let country of countries" [value]="country">
                    {{country.name}}
                </mat-option>
            </mat-select>

        </mat-form-field>

        <br/>

        <button mat-raised-button color="primary" (click)="send()" class="btn btn-primary" type="button">Send Letter</button>

        <div *ngIf="message">
            <mat-toolbar [ngClass]="{ 'mat-toolbar': message, 'mat-primary': message.type === 'success', 'mat-warn': message.type === 'error' }">
                <mat-toolbar-row>
                    <span>{{message.text}}</span>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>

    </mat-card-content>
</mat-card>
