﻿<div class="card ">
    <div class="card-header">
        Air Condition
    </div>
    <div class="card-body bg-dark text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col">{{date}}</div>
                <div class="col"></div>
                <div class="col text-end">{{time}}</div>
            </div>

            <div class="row justify-content-center" style="height: 150px">
                <div class="col-1 d-flex align-items-center">
                    <div class="form-check-inline">
                        <button class="btn btn-light" (click)="minus()">
                            <img src="/assets/images/dash-circle.svg" width="32" height="32">
                        </button>
                    </div>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <p class="fw-bold">
                        <span style="font-size: 60px"> {{desiredTemperature}} </span> <span class="text-top"> °C </span>
                    </p>
                </div>
                <div class="col-1 d-flex align-items-center justify-content-end">
                    <div class="form-check-inline">
                        <button class="btn btn-light" (click)="plus()">
                            <img src="/assets/images/plus-circle.svg" alt="Bootstrap" width="32" height="32">
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-center">Desired temperature</p>
                    <p class="text-center text-secondary"> Current temperature: {{currentTemperature}} °C </p>
                </div>
            </div>
            <br/>
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <div class="input-group">
                        <input #temperature
                               class="form-control"
                               placeholder="Enter current temperature"
                               type="temperature">

                        <button class="btn btn-secondary"
                                (click)="change(temperature.value)"
                                type="button">Change
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
            </div>

        </div>
    </div>

    <div class="card-footer justify-content-between">
        <div class="col" [ngSwitch]="action">
            <div *ngSwitchCase="-1" class='alert alert-primary'>Cooling</div>
            <div *ngSwitchCase="1" class='alert alert-danger'>Heating</div>
            <div *ngSwitchDefault class='alert alert-success'>Off</div>
        </div>
    </div>
</div>
